    .newsroom {
      /*max-width: 400px;*/
      border: 1px solid white;

    }

    .newsroom li {
      padding-top: 1rem;
      padding-bottom: 1rem;

      border: 1px solid black;
      border-bottom: 3px solid rgb(131, 61, 223);
      border-radius: 1em;
    }

    .newsroom li:hover {
      background-color: aliceblue;
      cursor: pointer;
    }

    .list_group a:hover {
      background-color: cornsilk;
      cursor: pointer;
    }
    .list_group a {
      text-decoration: none;
      color: black;
      
      display: block;
    }

    .newsroom a {
      text-decoration: none;
      color: black;
      display: block;
    }
        /* Dewey color */
    .dewey000 {
      background-color: #000000; 
      color:#FFFFFF;
    }
    .dewey100 {
      background-color: #8B4513;
      color: #FFFFFF;
    }
    .dewey200{
    background-color: #FF0000; 
    color: #FFFFFF;
    }
    .dewey300 { 
      background-color : rgb(226, 115, 25);
      color: #FFFFFF;
    }
    .dewey400{
      background-color: #FFFF00; 
      color: #000000;
    }
    .dewey500{
      background-color: #32CD32; 
      color: #FFFFFF;
    }
    .dewey600{
      background-color: #1E90FF; 
      color: #FFFFFF;
    }
    .dewey700{
      background-color: #8B008B; 
      color: #FFFFFF;
    }
    .dewey800{
      background-color: #A9A9A9; 
      color: #FFFFFF;
    }
    .dewey900{
      background-color: #FFFFFF; 
      color: #000000;
    }
    table {
      border-collapse: collapse;
      width: 100%;
    }
    
    table, th, td {
      border: 1px solid rgb(158, 150, 150);
    }
    th {
      text-align: center;
    }

    footer {
        padding: 1rem;
        background-color: aquamarine;

    }
    