{% comment %} {{dewey_object.name}} {{dewey_object.set_dewey_color_publication}}<br> {% endcomment %}
{% load i18n %}

    <div class="list_group">
        <h2>{% trans "Filtrer par Dewey" %}</h2>
        {% for dewey_record in dewey_object_list %}
        <a href="{% url 'publication-dewey' dewey_record.number %}" type="button"
            class="list-group-item list-group-item-action {% if dewey_active and dewey_active == dewey_record %}active{% endif %}">
            {{dewey_record.set_dewey_color_publication}} :
            {{dewey_record.name|truncatechars:38}}<br>
        </a>

        {% endfor %}
    </div>
