{% extends 'catalog/base.html' %}

{% block content %}
<h1> {{ object }} </h1>
<ul>Publication :
    <li> {{ object.name}}
        {{object.type_publication}}</li>

    <ul>Author :
        <li> {{object.author}}</li>
        <li> {{object.author.date_birth}}</li>
        <li> {{object.author.century_birth}} siècle</li>

    </ul>

    <li> {{object.date_publication}}</li>
    <li> {{object.label_editor}}</li>
    <li>{{ object.dewey_number.name}}</li>
    <li><a href="{% url 'publication-dewey' object.dewey_number.number %}">{{ object.dewey_number}}</a></li>
</ul>

{% endblock %}