{% if publication_count %}

<h2> {{publication_count}} publications :</h2>
{% endif %}
<div class="publication">
        <div class="list-group">
                <table>
                        <thead>
                                <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">référence</th>
                                        <th scope="col">Author</th>
                                </tr>
                        </thead>
                        <tbody>
                                {% for publication_record in publication_object_list %}
                                <tr>
                                        <td> <a href="{% url 'publication-detail-pk' publication_record.pk %}">{{publication_record.reference}}</a>
                                        </td>
                                        <td> {{publication_record.name}}</td>

                                        <td> <strong>{{publication_record.author}}</strong></td>
                                </tr>
                                <br>
                                {% endfor %}
                        </tbody>


                </table>
        </div>
</div>